.avatar {
  border-radius: 100%;
  background: #bababa;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  svg {
    width: 60%;
  }
}