.form {
  width: 100%;
  position: relative;
  max-height: calc(100% - 40px);
  overflow-y: auto;
  padding-right: 10px;

  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
  }

  .load {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .banner {
    width: 100%;
    height: 200px;
    background: var(--card-background);
    border-radius: 5px;
    position: relative;
  }

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-top: 20px;
    background: var(--card-background);
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
}