.form {
  width: 55vw;
  height: var(--edit-profile-menu-height);
  flex-direction: row;
  align-items: start;
  justify-content: start;
  padding: 0;

  .pageContainer {
    width: 73%;
    height: 100%;
    padding: 10px;

    @media(max-width: 710px) {
      width: 100%;
    }
  }

  @media(max-width: 940px) {
    width: 80vw;
  }

  @media(max-width: 710px) {
    width: 95vw;
  }
}